body {
  background-image: url("../../images/background1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Featured tab stlying */
.featured-tab {
  background-color: rgba(0, 0, 0, 0.501);
  color: white;
  height: 400px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
}

.featured-tab .featured-img {
  position: absolute;
  width: 512px;
  height: 300px;
  border-radius: 20px;
  top: 18%;
  left: 12%;
  transition: 0.3s;
}

.featured-tab .featured-img:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.275);
}

.featured-tab h1 {
  float: right;
  width: 400px;
  margin-top: 60px;
  margin-right: 150px;
  text-align: right;
  font-size: x-large;
}

.featured-tab .spanH2 {
  font-size: xx-large;
}

.featured-tab p {
  font-weight: 100;
  font-size: medium;
}

.featured-tab .rating {
  width: 100px;
}

.featured-tab a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 100px;
  border-radius: 30px;
  background-color: #8a64d6cb;
  padding: 17px;
  font-size: 15px;
  width: 8%;
  margin-right: 1%;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.featured-tab a:hover {
  background-color: #7d3cffcb;
  color: #bceef6;
}

.featured-tab a:active {
  background-color: #5c3a92;
}

.user-button {
  display: inline-flex;
  color: #ffffff;
  height: 53px;
  border: none;
  outline: none;
  overflow: hidden;
  font-weight: 500px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #8a64d600;
  font-size: 15px;
  transition: 0.3s;
}

.button-text,
.button-icon {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  height: 100%;
}

/* Same stuff, mini button */
.mini-user-profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.mini-user-button {
  color: black;
  display: inline-flex;
  height: 33px;
  border: none;
  outline: none;
  overflow: hidden;
  font-weight: 500px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #8a64d600;
  font-size: 15px;
  transition: 0.3s;
}

.mini-button-text,
.mini-button-icon {
  display: inline-flex;
  align-items: center;
  padding: 0 6px;
  height: 100%;
}

/* Left and right Arrows */
.featured-tab .chevron-left {
  width: 100px;
  position: absolute;
  top: 35%;
  left: 1%;
  border-radius: 30px;
  transition: 0.15s;
  cursor: pointer;
}

.featured-tab .chevron-left:hover {
  background-color: #7d3cffcb;
}

.featured-tab .chevron-right {
  width: 100px;
  position: absolute;
  top: 35%;
  right: 1%;
  border-radius: 30px;
  transition: 0.15s;
  cursor: pointer;
}

.featured-tab .chevron-right:hover {
  background-color: #7d3cffcb;
}

/* Search Bar stuff */
.search-container {
  /* width: 100%; */
  min-height: 10vh;
  padding: 0%;
  padding-left: 14%;
  display: flex;
  align-items: center;
}

.search-bar {
  width: 100%;
  max-width: 900px;
  background-image: url(../../images/foodDarkBlue.jpg);
  /* background: cover; */
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 0px 20px;
  font-size: 20px;
  color: white;
}

::placeholder {
  color: white;
}

.search-bar button img {
  width: 25px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #00000033;
  cursor: pointer;
  transition: 0.15s;
}

.search-bar button:hover {
  background-color: #7d3cffcb;
  transform: scale(1.1);
}

/* Explore Section Styling */
.recipe-card {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  width: 250px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 32px;
}

.recipe-card:hover {
  transform: scale(1.03);
  box-shadow: -2px 2px 0px 2px rgba(0, 0, 0, 0.275);
}

.card-data {
  background-color: whitesmoke;
  padding: 12px 10px;
  overflow: hidden;
  font-size: large;
  font-weight: 200;
  color: black;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card-data .rating {
  margin-top: 5px;
  width: 80px;
}
